.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    height: 92.4vh;
}

.signupCard {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 50%;
    max-width: 700px;
    padding: 40px;
}

.signupFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formGroup {
    margin-bottom: 20px;
}

.formControl {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
}

.formText {
    font-size: 12px;
    color: #6c757d;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #28a745;
    color: white;
    font-size: 16px;
}

.passwordWrapper {
    position: relative;
}

.passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
}
